body{
  background-image: url(back.jpeg);
}
.bluebelt {
  color: #fff;
  background: rgba(247, 244, 244, 0.5);
  margin: 2rem 0 0.5rem;
  border-radius: 6px;
  width: 100%;
  height: 50px;
  cursor: pointer;
  font-size: 1.125rem;
  line-height: 50px;
  position: relative;
  padding: 0 1rem;
}

*, ::after, ::before {
  box-sizing: border-box;
}
.audio-wrappe h4 {
  width: 100%;
  height: 50px;
  background: #f8fafa;
  cursor: pointer;
  color: #000001;
  font-size: 1.125rem;
  line-height: 50px;
  position: relative;
  padding: 0 1rem;
  border-radius: 6px;
  
}
.audio-wrappe h4:hover{
  background: rgba(114, 112, 112, 0.5);
  color: white;
  border-radius: 2rem;
}
.audio-wrappe h4 {
  margin-bottom: 6  rem;
}
h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.audio-wrappe h4::before {
  content: "";
  top: 10px;
  left: 12px;
  background-size: contain;
  width: 32px;
  height: 30px;
  position: absolute;
}
.audio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1.6rem 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: 'poppins', sans-serif;
}

body {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.main {
  width: 1400px;
  height: 2550px;
  border-radius: 18px;
}


.main .control_part {
  margin-top: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main .control_part .song_title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main .control_part .song_title p {
  font-size: 14px;
}

.main .control_part .song_title p:first-child {
  font-size: 22px;
  text-transform: capitalize;
}

.main .control_part .control_buttons {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.main .control_part .control_buttons .main_btns {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.main .control_part .control_buttons .main_btns button {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  font-size: 30px;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 18px;
  background: rgba(0, 0, 0, 0.08);
  box-shadow: 0.1px 8px 8px 2px rgba(0, 0, 0, 0.2);
}
.song_title p:hover{
color: rgb(251, 250, 250);
background: rgba(0, 0, 0, 0.5);
}
.song_title p{
  width: 80px;
  height: 50px;
  background: #959696;
  cursor: pointer;
  color: rgba(251, 246, 246, 0.969);
  font-size: 1.125rem;
  line-height: 50px;
  position: relative;
  padding: 0 1rem;
  border-radius: 8px;
}
.audio-list li p {
  font-weight: bold;
  margin-bottom: 0.3rem;
}
p {
  font-size: 0.9375rem;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.song_title .minna{
  width: 250px;
  height: 50px;
  background: #959696;
  cursor: pointer;
  color: rgba(251, 246, 246, 0.969);
  font-size: 1.125rem;
  line-height: 50px;
  position: relative;
  padding: 0 1rem;
  border-radius: 8px;
}
.zurag{
  width: 400px;
  nav-down: 850px;
}


